

/* Dark: #012638;
Light: #1a3c4c;
Green: #CCDEA4; */

.page {
    margin: 0;
}

.site-header{
    background-color: #012638;
}
.site-header .navbar-toggler{
    border: none;
    padding: 0;
}
.site-header .navbar-nav ul { 
    list-style: none; 
  }
  .site-header .navbar-nav li { 
      margin: 0px 10px;
      padding: 5px 0px;
    position: relative; 
  }
  .site-header .navbar-nav a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  .site-header .navbar-nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -4px;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .site-header .navbar-nav .current-menu-item a:after{
    width: 100%;
  }
  .site-header .navbar-nav  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .site-header .navbar-nav .salesmanago a {
    color: #CCDEA4;
  }
  .site-header .navbar-nav .salesmanago a:after {    
    background: #CCDEA4;
  }
.seomondo-logo{
    position: absolute;
    right: 3px;
    top: -10px;
}
.site-header .fa-bars{
    color: #fff;
}
footer .elementor-widget-container h5{
    color: #fff;
}

footer .menu{
   padding: 0;
   margin: 0;
}
footer .menu li a{
  color: #fff;
  text-decoration: none;
 }
